page-calculator {
    .bg-image{
        background-image: url(../assets/images/math-background.jpeg);
    }
    .card-color{
        background-color: transparent;

    }

    .result-color{
        background-color: #B87333;
    }

}
