page-add-post {
  textarea{
    width: 100%;
    border: 0px;
  }
  ion-header button, ion-header ion-title p{
    background: transparent;
  }

  img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;        
  }
}
