<!--
  Generated template for the Comment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="custom">

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Comment
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-list *ngIf="comments">
    <ion-item  *ngFor="let item of comments">

      <ion-avatar item-left >
        <img src="{{item.avatar}}" >
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.commentText}} </p>
      <ion-note item-right>{{item.dateCreated | DateFormat}}</ion-note>
    </ion-item>
    <!-- <div class="nocomment" *ngIf="!commentList.length">
      <img src="assets/no-record.png">

    </div> -->
  </ion-list>

</ion-content>
<ion-footer >
    <ion-toolbar>

      <ion-input type="text" placeholder="  Type your message" [(ngModel)]="message" (ionfocus)="scrollBottom()" (keypress)="onType($event.keyCode)"></ion-input>
    <ion-buttons end>
      <button ion-button  (click)="send()" [disabled]="!message">
        <ion-icon slot="icon-only" name="md-send"></ion-icon>
      </button>
    </ion-buttons>

    <!--Main Message-->

    

  </ion-toolbar>

</ion-footer>
